Raw
*.pyc
__pycache__
Shakedown
Tare torque
Figures
Config/Max backup
*.npy
*.swp
Data/Processed/txt
Data/Processed/csv
Documents/Lab notebook
*.pdf
*.xls
*.xlsx
Trash
.ipynb_checkpoints
Data/Raw
